@import '../../theme/index.scss';

.container {
  padding: 40px 18.9vw 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  justify-content: center;
  display: flex;
  margin-top: 53px;
}

.detail {
  margin-top: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7.8vw;

  div {
    margin-top: 23px;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

.select {
  margin-top: 23px;
  select {
    border: 1px solid $theme-color;
    color: $theme-color;
    font-family: Arial;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 14px;
  }
}

.updateBt {
  margin: 41px 0 26px;

  button {
    color: white;
    background-color: $theme-color;
    outline: none;
    border: none;
    font-family: Arial;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 20px;
    padding: 5px 1.4vw;
  }
}
